<script type="text/javascript">window.submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"
  onload="if(window.submitted) {$('.ss-form').html('<center><h2 class=\'purple\'>Thank you for entering!</h2>').css('height','inherit');ga('send', 'event',  'Form', 'Complete', 'Success');}"></iframe>
<div class="ss-form">

<form action="https://docs.google.com/a/trendsettermarketing.net/forms/d/1uqtqwavhMSM7MLJ3tcYgWD97U68NQytwEGGjcqjJDgs/formResponse" method="POST" id="ss-form" target="hidden_iframe" onsubmit="return validateForm()">

<ol role="list" class="ss-question-list" style="padding-left: 0">

<div class="form-group">
<div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_193196971"><div class="ss-q-title">Email:
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.193196971" value="" class="ss-q-short form-control" id="entry_193196971" dir="auto" aria-label="Email Address:  " title=""placeholder="your@email.com">
<div class="error-message" id="1524149796_errorMessage"></div>
</div></div></div>
</div>

<div class="form-group">
<div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-select"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_404726157"><div class="ss-q-title">Tour Date:
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<select name="entry.404726157" id="entry_404726157" aria-label="Tour Date  " class="form-control">
<option value="">--CHOOSE A TOUR DATE--</option>
<option value="5/01 | The Howard Theatre - Washington, D.C.">5/01 | The Howard Theatre - Washington, D.C.</option>
<option value="5/02 | Underground Arts - Philadelphia, PA">5/02 | Underground Arts - Philadelphia, PA</option>
<option value="5/03 | Toad's Place - New Haven, CT">5/03 | Toad's Place - New Haven, CT</option>
<option value="5/04 | Mr. Small's Theatre - Millvale, PA">5/04 | Mr. Small's Theatre - Millvale, PA</option>
<option value="5/07 | Grog Shop - Cleveland Heights, OH">5/07 | Grog Shop - Cleveland Heights, OH</option>
<option value="5/08 | The Shelter - Detroit, MI">5/08 | The Shelter - Detroit, MI</option>
<option value="5/09 | Metro - Chicago, IL">5/09 | Metro - Chicago, IL</option>
<option value="5/12 | Fox Theatre - Boulder, CO">5/12 | Fox Theatre - Boulder, CO</option>
<option value="5/14 | House of Blues - San Diego, CA">5/14 | House of Blues - San Diego, CA</option>
<option value="ZIP">Request A Show In My City</option>
</select>
</div></div></div>
</div>
<br>
<div id="hider">
<div class="form-group">
<div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_684406722"><div class="ss-q-title">Zip Code:
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.684406722" value="" class="ss-q-short form-control" id="entry_684406722" dir="auto" aria-label="Zip Code  " title="" placeholder="Enter your Zip Code">
<div class="error-message" id="746016777_errorMessage"></div>
</div></div></div>
</div>
</div>

<div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-checkbox"><div class="ss-form-entry">

<ul class="ss-choices" role="group" aria-label="Opt In  "><li class="ss-choice-item"><label class="nopad"><span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.1646667108" value="I agree to receive emails from Bro Safari" id="group_1646667108_1" role="checkbox" class="ss-q-checkbox" checked ></span>
<span class="ss-choice-label">I agree to receive emails from Makonnen</span>
</label></li></ul>
<div class="error-message" id="2091013489_errorMessage"></div>
</div></div></div>

<input type="hidden" name="draftResponse" value="[,,&quot;-8716856056484985597&quot;]
">
<input type="hidden" name="pageHistory" value="0">


<input type="hidden" name="fbzx" value="-8716856056484985597">

<div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
<input type="submit" name="submit" value="Submit" id="ss-submit" class="jfk-button jfk-button-action btn btn-success"></td>
</tr></tbody></table></div></ol>

</form></div>
