<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand brand" href="/">
        <img alt="Brand" src="images/logo.png">
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
<!--       <a href="/tuesday.html"><li class="btn btn-danger">Win Free Tickets</li></a> -->
      <a href="/vip.html"><li class="btn btn-danger">Win a Meet and Greet</li></a>
    </ul>
  </div>
</nav>
