---
layout: vip
title: iLoveMakonnen
---

<div class="container spacer">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <img class="img-responsive" src="https://s3.amazonaws.com/myfangate.com/makonnen/tourheader.png">
    </div>
        <div class="col-lg-12 headline">
      <h1>THIS CONTEST HAS ENDED</h1>
      <h4>CHECK BACK NEXT TUESDAY AT NOON FOR ANOTHER CHANCE TO WIN!</h4>
    </div>
    <!--
    <div class="col-lg-12 headline">
      <h1>MEET AND GREET SWEEPSTAKES</h1>
      <h4>ENTER TO WIN A MEET AND GREET WITH MAKONNEN!</h4>
    </div>
    <div class="col-lg-4 col-lg-offset-4">
      <div class="purp-border">
       gform2 partial goes here
      </div>
    </div> -->
    <div class="col-lg-8 col-lg-offset-2">
      <div class='az-widget-container' data-include-default-css='false' data-tour-slug='loudestoftheloud' data-date-format="short"></div><script type='text/javascript' src='https://www.applauze.com/tours/az_widget.js'></script>
    </div>
    <div class="col-lg-8 col-lg-offset-2 video">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/avFq9errZCk?rel=0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="row footer">
      <a href="https://www.facebook.com/ilovemakonnen" target="_blank">
        <span class="fa-stack fa-lg">
          <i style="color: white;" class="fa fa-circle fa-stack-2x"></i>
          <i id="facebook" style="color: black;" class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a href="https://twitter.com/ILOVEMAKONNEN5D" target="_blank">
        <span class="fa-stack fa-lg">
          <i style="color: white;" class="fa fa-circle fa-stack-2x"></i>
          <i id="twitter" style="color: black;" class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a href="http://instagram.com/ilovemakonnen" target="_blank">
        <span class="fa-stack fa-lg">
          <i style="color: white;" class="fa fa-circle fa-stack-2x"></i>
          <i id="instagram" style="color: black;" class="fa fa-instagram fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a href="https://soundcloud.com/ilovemakonnen" target="_blank">
        <span class="fa-stack fa-lg">
          <i style="color: white;" class="fa fa-circle fa-stack-2x"></i>
          <i id="twitter" style="color: black;" class="fa fa-soundcloud fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a href="https://twitter.com/ILOVEMAKONNEN5D" target="_blank">
        <span class="fa-stack fa-lg">
          <i style="color: white;" class="fa fa-circle fa-stack-2x"></i>
          <i id="instagram" style="color: black;" class="fa fa-youtube fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <br>
      <a href="http://ovosound.com/" target="_blank">
        <img src="https://s3.amazonaws.com/myfangate.com/makonnen/ovologo.png" width="50px">
      </a>
  </div>
</div>
